@model WiktorDanielewskiLab5PracDom.Models.Order

@{
    ViewData["Title"] = "Dodawanie zamówienia";
}



@using (Html.BeginForm("Create", "Orders", FormMethod.Post))
{

    <h3 class="toast-header justify-content-center">Dodawanie zamówienia</h3>

    <body class="toast-body">

        <div class="container">

            <br/>
            <div class="row justify-content-center ">

                <div class="col-auto text-center p-1">
                    <div>
                        @Html.LabelFor(model => model.CarPartID)
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.CarPartID)
                    </div>
                </div>

                <div class="col-auto text-center p-1">
                    <div>
                        @Html.LabelFor(model => model.Number)

                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.Number)
                    </div>
                </div>

            </div>

            <hr />

            <div class="row justify-content-center">
                <input type="submit" value="Dodaj" class="btn btn-success mt-4" style="width: 15%" />
            </div>

        </div>
        
    </body>
}
